/* src/styles/App.css */
.app {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
}

.app-header {
    background-color: #282c34;
    padding: 1rem;
    color: white;
}

.app-header h1 {
    margin: 0;
    font-size: 1.5rem;
}

main {
    flex: 1;
    position: relative;
}

.app-footer {
    background-color: #282c34;
    color: white;
    padding: 0.5rem;
    font-size: 0.8rem;
}